services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file: 
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root --password=$(cat /run/secrets/db_root_pw) >/dev/null 2>&1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    secrets:
      - db_root_pw
      - db_pw
    networks:
      - inception
    restart: unless-stopped


  nginx:
    build:
      context: ./requirements/nginx
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
    container_name: nginx
    env_file: 
      - .env
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    restart: unless-stopped


  wordpress:
    container_name: wordpress
    env_file: 
      - .env
    build: ./requirements/wordpress
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    secrets:
      - db_pw
      - credentials_pw
      - credentials_second_pw
    restart: unless-stopped

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/mariadb
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/wordpress

secrets:
  db_root_pw:
    file: /home/layang/secrets/db_root_password.txt
  db_pw:
    file: /home/layang/secrets/db_password.txt
  credentials_pw:
    file: /home/layang/secrets/credentials.txt
  credentials_second_pw:
    file: /home/layang/secrets/credentials.txt